@font-face {
    font-family: ITCBold;
    src: url(../fonts/itc-fenice-lt-bold.ttf);
}

@font-face {
    font-family: ITCOblique;
    src: url(../fonts/itc-fenice-lt-oblique.ttf);
}

@font-face {
    font-family: ITCRegular;
    src: url(../fonts/itc-fenice-lt-regular.ttf);
}

html{
	background: url(../img/bg.png);
}

body{
	background-color: #FFF;
	max-width: 980px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border: 1px;
}

h1{
	font-family: ITCBold;
	color: #ec2434;
	font-weight: lighter;
	margin-top: 0px;
	text-align: center;
  	line-height: 0.5;
  	text-align: center;
}
h1 span {
  display: inline-block;
  position: relative;  
}
h1 span:before,
h1 span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #ec2434 ;
  border-top: 1px solid #ec2434;
  top: 0;
  width: 600px;
  margin-top: 5px;
}
h1 span:before {
  right: 100%;
  margin-right: 15px;
}
h1 span:after {
  left: 100%;
  margin-left: 15px;
}

h2{
	font-family: ITCRegular;
	color: #b4774b;
	font-weight: lighter;
}

ul {
    padding: 0;
    list-style-type: none;
}

a:link{
	color: #ec2434;
	font-family: ITCOblique;
	font-weight: lighter;
}

a:hover{
	font-family: ITCRegular;
	color: #b4774b;
	font-weight: lighter;
	text-decoration: none;
} 

a:active{
	color: #ec2434;
}

a:visited{
	color: #ec2434;
}

img{
	max-width: 100%;
	border: 2px solid #FFF;
}

.button {
	border: 0;
	width: 60%;
	float:right;
	padding: 10px 0;
}

iframe{
	width: 100%;
	border: 3px solid #FFF;
}

nav{
	background-color: #B4774B;
	padding: 0;
}

nav ul{
	margin: 0;
	padding-left: 0;
}

nav li{
	padding: 10px;
	border-bottom: 1px solid #c1895f;
}

nav li:last-child{
	border-bottom: 0;
}

nav a , nav a:link, nav a:visited{
	color: #FFF;
	text-decoration: none;
	font-size: 1em;
	font-family: Open Sans;
	text-transform: uppercase;
}

nav a:hover{
	font-size: 1.1em;
	font-weight: bold;
}

#menu{
	display: none;
}

.logo{
	max-width: 200px;
	margin: 0 auto;
	padding-top: 30px;
}

section{
	margin: 50px 0;
	padding: 20px;
	clear: both;
	overflow: hidden;

	
}


#events{
	background-color: #FAD73B;
}
	#events article{
		background-color: #FFF;
		padding: 0 15px;
		margin-top: 10px;
		border-radius: 10px;
		border: 2px solid #666666;
	}

.price{
	margin: 0;
	font-size: 2em;
	font-weight:bold;
	color: #FFF;
	float: left;
	width: 40%;
	text-shadow: -2px 0 #B4774B, 0 2px #B4774B, 2px 0 #B4774B, 0 -2px #B4774B;
}

.white{
	color: #FFF;
	font-weight: bold;
}

#awards ul{
	width: 80%;
	margin: 0 auto;
}

.award{
	border: 0;
	width: 40%;
	float: left;
	padding-left: 20px;
	max-width: 200px;
}



.address{
	margin-top: 10px;
}

.address p{
	margin: 0;
}

.event-poster{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

 /*Soup Display*/

.gridder{margin:0px;padding:0px;list-style-type:none}

.gridder-list{
	display:inline-block;vertical-align:top
}

.gridder-show{display:block;float:left;width:100%;position:relative}

.gridder-content{display:none}

.gridder-list{width:15.83333%}

.gridder-list:nth-child(n){margin-bottom:1%;margin-right:1%}

.gridder-list:nth-of-type(6n){margin-
right:0;margin-bottom:0}

.gridder-show{padding:20px;background:#EEE;margin-
bottom:1%}

.gridder-list{cursor:pointer}

.gridder-list:hover{opacity:0.8}

.hasSelectedItem .gridder-list{opacity:.5}

.hasSelectedItem .gridder-list.selectedItem{opacity:1}

 /*Footer*/

footer{
	background-color: #B4774B;
	color: #FFF;
	padding: 10px;
	font-size: 0.8em;
	text-align: center;
}

#scrollUp {
    bottom: -10px;
    right: 30px;
    width: 70px;
    height: 70px;
    padding: 10px 5px;
    font-family: ITCBold, serif;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px #FFF;
	color: #ec2434;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    background-image: linear-gradient(to bottom, #EBEBEB, #DEDEDE);
    background-repeat: repeat-x;
    transition: bottom 150ms linear 0s;
    border:5px solid #CCC;
    border-radius: 5px;
}

@media (min-width: 600px){


	figure{
		width: 55%;
		float: left;
		padding-right: 20px;
	}

	.order{
		width: 40%;
		float: right;
	}

	#events article{
		width: 40%;
		float: left;
		margin-right: 10px;
		margin-left: 10px;
	}

	.award{
		margin-left: 10px;
	}


}

@media (min-width: 900px){


	#events article{
		width: 20%;
		float: left;
		margin-right: 10px;
		margin-left: 30px;
	}

	.event-poster{
		width: 40%;
		float: left;
		padding-right: 20px;
	}

	#awards ul{
		width: 50%;
		margin: 0 auto;
	}

	figure{
		width: 40%;
	}

	h1{
		padding-bottom: 20px;
	}

	.slicknav_menu {
	    display:none;
	}

	nav ul{
		padding-left: 90px;

	}

	#menu{
		display: inline;
		
	}

	nav li{
		display: inline-block;
		padding: 10px 20px;
		border-bottom: 0;
		border-right: 1px solid #c1895f;
	}

	nav li:last-child{
		border-right:0;
	}

}






